{% extends "org_base.html" %}
{% block title %}
    机构教师页
{% endblock %}
{% block custom_bread %}
    机构教师页
{% endblock %}
{% block content %}
    <div class="right companycenter layout">
        <div class="head">
            <h1>机构教师</h1>
            <a class="green fr more" href="{% url "org:teacher" course_org.id  %}">查看更多 > </a>
        </div>
{% for teacher in all_techer %}
        <div class="diarys">

                <div class="module5 share company-diary-box" style="padding:10px 0;">
                <div class="left">
                    <img class="pic" src="{{ MEDIA_URL }}{{ teacher.image }}"/>
                    <p>昵称：{{teacher.name}}</p>
                </div>
                <div class="right">
                    <div class="top">
                        <div class="fl">
                            <a href=""><h1>{{ teacher.work_postion }}</h1></a>
                            <span>工作年限：{{ teacher.work_years }}</span>
                        </div>
                    </div>
                    <div class="middle" style="border-bottom:0;">{{ teacher.points }}</div>
                </div>
            </div>

        </div>
    {% endfor %}
    </div>
{% endblock %}